
  .box5{
    transition: ease 0.5s;
    border-radius: 10px;
    background: transparent;
  }

  .box6{
    transition: ease 0.5s;
    border-radius: 10px;
    background: transparent;
  }

  .apps{
    background: transparent;
    transition: ease 0.5s;
    -webkit-animation: floating 6s infinite;
    animation: floating 6s infinite
  }

  .boxe5{
    background: transparent;
    transition: ease 0.5s;
    border-radius: 18px;
  }

  
  @media (max-width: 896px) {
    .hero5{
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  }

  .box5:hover{
    scale: 115%;
    -webkit-box-shadow: 5px 5px 25px -5px rgb(253, 45, 45); 
    box-shadow: 5px 5px 25px -5px rgb(253, 45, 45); 
}

.box6:hover{
  scale: 115%;
  -webkit-box-shadow: 5px 5px 25px -5px rgb(158, 151, 255); 
  box-shadow: 5px 5px 25px -5px rgb(158, 151, 255); 
}

.boxe5:hover{
    scale: 108%;
    -webkit-box-shadow: 5px 5px 25px -5px rgb(158, 151, 255); 
    box-shadow: 5px 5px 25px -5px rgb(158, 151, 255); 
}

.apps:hover{
  outline-color: 5px 5px 25px -5px rgb(151, 208, 255);
}

.boxgrid{
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 20px -5px rgba(150, 150, 150, 0.228); 
  box-shadow: 5px 5px 20px -5px rgba(150, 150, 150, 0.228); 
  cursor: pointer;
  transition: ease 0.5s;
  max-height: 280px;
}

.boxgrid:hover{
  --webkit-box-shadow: 5px 5px 20px -5px rgba(150, 150, 150, 0.333); 
  box-shadow: 5px 5px 20px -5px rgba(150, 150, 150, 0.333); 
  scale: 105%;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}


@-webkit-keyframes floating {
  0% {
      transform: translateY(0)
  }

  66% {
      transform: translateY(-1.5rem)
  }

  100% {
      transform: translateY(0)
  }
}

@keyframes floating {
  0% {
      transform: translateY(0)
  }

  66% {
      transform: translateY(-1.5rem)
  }

  100% {
      transform: translateY(0)
  }
}